.App {
}
body {
  background-image: url("https://masai-course.s3.ap-south-1.amazonaws.com/users/1185/submissions/222557/397491/e30beff81afd94c95d96277bf8529b48/dphoto.png");
  background-repeat: no-repeat;
  left: 500px;
  background-position-x: center;
  background-position-y: 80px;
  background-size: 700px;
}
input {
  position: absolute;
 
  width: 60px;
  height: 30px;
}
#input{
  position: absolute;
  left: 480px;
  top: 380px;
  
}
#input1 {
  position: absolute;
  left: 570px;
  top: 380px;
  
}
#input2 {
  position: absolute;
  left: 660px;
  top: 380px;
}
#input3 {
  position: absolute;
  left: 750px;
  top: 380px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}